gce-credentials.json
id_rsa
id_rsa.pub
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform
gce_googlecompute.pem
.DS_Store
gce-creds.tar.gz
credentials
*.key
*.cert
*.crt
.idea
*.bak
backup
